body,html{
height: 100%;
width: 100%;
margin: 0;
padding: 0%;
}
input{
    outline: none;
}
#body{
    display: flex;
    flex-direction: column;
    flex:1;
}
#header{
background-color: transparent;
top: 0;
left: 0;
height: 5vh;
width: 100%;
align-self: flex-start;
}
#main{
background-color: white;
height: 100%;
}
#footer{
background-color:#f2f2f2;
bottom: 0;
height: 5vh;
width: 100%;
margin-top: auto;
border-top: 1px solid #e4e4e4;
}
#about{}
#store{}
#space{}
#gmail{}
#images{}
#cube{}
#sign-in{}
#pic{
    margin-top: 17vh;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    background-color: transparent;
    display: flex;
}
#main-pic{
    margin: 0 auto;
    background-color: transparent;
}
#search{
    display: flex;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    background-color:transparent;
    width: 100%;
    height: 4.5vh;
}
#textbox{
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    min-width: 450px;
    width: 50vw;
    height: 4.5vh;
    border-radius: 30px;
    border: 0.25px solid #e4e4e4;
    background-color: white;
    color: rgba(0, 0, 0, .87);
}
#textbox:hover{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
.glass-icon{
    background-image: ;
}
#buttons{
    display: flex;
    background-color: transparent;
    width: 100%;
    margin-top: 3vh;
}
#dont-know{
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    margin: 0 auto;
    width: 20%;
    max-width: 350px;
    min-width: 275px;
}
#google{
    border-radius: 3px;
    border: none;
    color:#5F6368;
    font: arial,sans-serif;
    margin:0 auto;
    height: 4vh;
    width: 13vw;
    max-width: 150px;
    min-width:120px;
    max-height: 60px;
    overflow-x: hidden;
}
#google:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color:black;
}
#advertising{}
#business{}
#search-works{}
#space2{}
#privacy{}
#terms{}
#settings{]
